.listing-picker-label {
  color: var(--theme-color-dark);
  line-height: 40px;
  font-weight: 500;
}

.listing-picker-input {
  margin: 20px;
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  border: var(--border-normal);
  padding: 10px;
  border-radius: var(--radius-md);
  width: 100%;
  max-width: 225px;
  margin-bottom: 20px;
  font-size: var(--font-base);
  box-sizing: border-box;
}
