.title {
  color: var(--theme-color-dark);
  font-size: 42px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.open-modal-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #534ab7;
  color: #eeedfe;
  border: none;
  border-radius: 14px;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.01em;
  margin: 24px auto;
  display: flex;
  transition:
    background 0.15s,
    transform 0.1s;
}

.open-modal-btn:hover {
  background-color: #3c3489;
}
.open-modal-btn:active {
  transform: scale(0.97);
}
